# =========================
# Spring Boot / Maven
# =========================

target/
*.class
*.jar
*.war
*.ear

.mvn/wrapper/maven-wrapper.jar

# Logs
logs/
*.log

# IntelliJ / Eclipse / STS
.idea/
*.iml
.project
.classpath
.settings/
.springBeans
.sts4-cache/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Application secrets
application.properties
application.yml
application-dev.properties
application-dev.yml